* {
    box-sizing: border-box;
}
#callToAction,
#uploadResultsContainer,
#coreSubjectsContainer,
#electiveSubjectsContainer, 
#curatingProgrammesContainer, #resultsContainer {
    transition: transform 1s ease-in-out, opacity 1s ease-in-out,
        z-index 1s ease-in-out;
}

/* Entire scrollbar */
::-webkit-scrollbar {
  width: 5px;              /* vertical scrollbar width */
  height: 12px; 
  margin: 5px 0px;            /* horizontal scrollbar height */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;       /* light grey background */
  border-radius: 6px;
}

/* Thumb (draggable handle) */
::-webkit-scrollbar-thumb {
  background: #888;          /* grey handle */
  border-radius: 6px;
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;          /* darker on hover */
}

/* Corner */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}


.hide {
    opacity: 0;
    transform: translateX(100%);
    position: absolute;
    z-index: 0;
}

.showing {
    opacity: 1;
    transform: translateX(0%);
    position: relative;
    z-index: 1;
}

.hideCurrent {
    transform: translateX(-100%);
    opacity: 0;
    position: absolute;
    z-index: 0;
}

.zoomOut{
    transform:scale(0);
    opacity: 0;
    position: absolute;
    z-index: 0;
}

.zoomIn{
    transform: scale(1);
    opacity: 1;
    position:relative;
    z-index: 1;
}

.animate-border{
    animation: animateBorder 5s ease-in-out infinite;
}

@keyframes animateBorder {
    0%{
        border-color: rgba(255, 255, 255, 0.2)
    }
    50%{
        border-color: rgba(255, 255, 255, 0.5)
    }
    100%{
        border-color: rgba(255, 255, 255, 0.2);
    }
}

.animate-scale {
    animation: scaleUp 2s ease-in-out infinite;
}
.animate-scale:hover {
    animation-play-state: paused;
}

@keyframes scaleUp {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#progress-steps {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  max-width: 300px;
  text-align: left;
}

#progress-steps .step {
  padding: 8px 12px;
  border-left: 4px solid #ccc;
  margin-bottom: 10px;
  color: #555;
}

#progress-steps .step.active {
  border-left-color: #3498db;
  font-weight: bold;
  color: #2c3e50;
}


