container_commands:
  00_folders:
    command: "mkdir -p storage/framework/views storage/framework/cache storage/framework/sessions storage/logs"
  00_permissions:
    command: "chmod -R 775 storage bootstrap/cache"
  01_clear_cache:
    command: "php artisan config:clear && php artisan cache:clear && php artisan view:clear"
  02_migrations:
    command: "php artisan migrate --force"
    leader_only: true
  03_optimize:
    command: "php artisan optimize"