container_commands:
  00_folders:
    command: "mkdir -p storage/framework/views storage/framework/cache storage/framework/sessions storage/logs"
  01_permissions:
    command: "chmod -R 775 storage bootstrap/cache"
  02_owner:
    command: "chown -R webapp:webapp storage bootstrap/cache"
    ignoreErrors: true
  03_clear_cache:
    command: "php artisan config:clear && php artisan cache:clear && php artisan view:clear"
  04_migrations:
    command: "php artisan migrate --force"
    leader_only: true
  05_optimize:
    command: "php artisan optimize"